body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.05em;
  color: #333333;
  background: linear-gradient(to right, #2663A6 0%, #2663A6 50%, #ffffff 50%, #ffffff 100%);
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}

/* 左メニュー */

.left_container {
  height: 1392px;
  width: 280px;
  background-color: #084C94;
  position: relative;
}

.header_logo {
  text-align: center;
  margin: 50px 0 40px;
}

nav ul li {
  text-align: right;
  line-height: 1.4;
}

nav ul li a {
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #2663A6;
}

nav ul li a img {
  vertical-align: middle;
}

.bottom_nav {
  position: absolute;
  bottom: 50px;
}

.bottom_nav ul li {
  line-height: 1.4;
}

.bottom_nav ul li a{
  padding: 10px 20px;
  display: block;
}

.sp_nav {
  display: none;
}

.tel_sp {
  display: none;
}

/* 右メニュー */

.right_container {
  height: 1392px;
  width: 820px;
  background-color: #ffffff;
}

/* トップの画像*/
.top_visual {
  margin-bottom: 37px;
}

/* メインの内容 */
main {
  display: flex;
  height: 601px;
}

/* 左側 */
.main_left {
  width: 426px;
}

section {
position: relative;
}

section h2 {
  background-color: #0E8BC1;
  width: 436px;
  height: 44px;
  position: absolute;
  top: 0;
  left: -10px;
  padding: 5px 20px;
}

/* お知らせ */
article {
  display: flex;
  padding: 59px 40px 0 25px;
  margin-bottom: 15px;
}

article:nth-child(odd) {
  padding-top: 0;
}

.notice_left {
  margin-right: 20px;
}

.date {
  font-size: 12px;
  color: #787878;
}

h3 {
  font-size: 13px;
  font-weight: bold;
}

.text {
  font-size: 12px;
}

.notice_right a {
  font-size: 12px;
  background-color: #084C94;
  color: #ffffff;
  padding: 5px 10px;
  margin-top: 6px;
  display: inline-block;
}

/* 診察時間 */
.time_table {
  padding: 59px 0 0 25px;
}

table {
  width: 100%;
}

tr,th,td {
  border: 1px solid #cccccc;
  height: 38px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

#week {
  color: #ffffff;
  background-color: #2663A6;
}

td {
  color: #0E8BC1;
}

th:first-child {
  width: 41%;
  font-size: 12px;
  color: #2663A6;
  text-align: left;
  padding-left: 7px;
}

.time_table p {
  font-size: 11.3px;
  color: #595959;
  padding: 5px 0;
}

/* 右側 */
.main_right {
  width: 394px;
  padding: 0 8px 0 10px;
  position: relative;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu a img {
  margin-bottom: 10px;
}

.tel {
  position: absolute;
  bottom: 0;
  left: 40px;
}

/* フッター */
footer {
  height: auto;
  background-color: #eaeaea;
  padding: 20px;
}

.footer_contents {
  display: flex;
  margin-bottom: 6px;
}

.footer_inner {
  display: flex;
  margin-right: 50px;
}

.footer_img {
  margin-right: 25px;
}

.footer_logo p {
  font-size: 11.5px;
  text-align: right;
  margin-top: 5px;
}

.footer_add p {
  font-size: 13px;
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30%;
  position: relative;
}

iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.copy p {
  font-size: 11.5px;
  color: #787878;
  text-align: right;
}

/* レスポンシブ */

@media screen and (max-width: 640px) {
  
  .wrapper {
    width: 100%;
    flex-direction: column;
  }

/* ヘッダー */

  .left_container {
    height: 127px;
    width: 100%;
    position: static;
  }

.header_logo {
  margin: 15px auto 17px;
}

.header_logo img {
  width: 115px;
  height: 50px;
}

  nav,.bottom_nav {
    display: none;
  }

.sp_nav {
  display: flex;
  background-color: #0879b5;
  height: 45px;
}

.sp_tel,.sp_mail {
  margin-left: 10px;
  padding: 10px 0;
}

.sp_tel img{
  width: 119px;
  height: 25px;
}

.sp_mail a img {
  width: 119px;
  height: 25px;
}

.burger {
  margin: 0 20px 0 auto;
}

/* トップ画像 */
.right_container {
  width: 100%;
  height: auto;
}

.top_visual {
  margin-bottom: 0;
}

.top_visual img {
  width: 100%;
  height: auto;
}

/* メイン */

main {
  flex-direction: column;
  height: auto;
}

/* 左側 */
.main_left {
  order: 2;
  width: 100%;
}

section h2 {
  width: 100%;
  position: static;
}

section h2 img {
  max-width: 100%;
}

article {
  padding: 15px 15px 0 15px;
}

.time_table {
  padding: 15px 15px 25px 15px;
}

/* メニュー */

.main_right {
  order: 1;
  width: 100%;
  padding: 20px 56px 31px;
}

.menu a {
  flex: 0 0 calc((100% - 10px) / 2);
}

.menu a img {
  width: 100%;
  height: auto;
}

.tel {
  display: none;
}

.tel_sp {
  display: block;
  padding-left: 35px;
}

.tel_sp img {
  max-width: 100%;
}

/* フッター */
.footer_contents {
  flex-direction: column;
}

.footer_inner {
  margin-bottom: 7px;
}

.footer_img {
  margin-right: 85px;
}

.footer_logo p {
  font-size: 9px;
  text-align: left;
}

.footer_add p {
  font-size: 9px;
}

.gmap {
  padding-bottom: 80%;
}

.copy p {
  font-size: 9px;
}

}